:root {
    /* WCAG Color Contrast:       #000 */
    --black: #000;          /*  1.00 */
    --white: #fff;          /* 21.00 */
    --bg: #000;             /*  1.00 */
    --fg: #e4e4e4;          /* 16.51 */
    --gray: #888890;        /*  5.97 */
    --gray-border: #383840; /*  1.80 */
    --gray-input: #181820;  /*  1.19 */
    --red: #ff8080;          /*  8.65 */
    --orange: #ffc080;       /* 13.10 */
    --yellow: #ffff80;       /* 19.86 */
    --chartreuse: #c0ff80;   /* 17.85 */
    --green: #80ff80;        /* 16.53 */
    --spring-green: #80ffc0; /* 16.98 */
    --cyan: #80ffff;         /* 17.66 */
    --azure: #80c0ff;        /* 10.90 */
    /* --blue: #8080ff;          6.44 */
    --blue: #6060ff;        /*  4.61 */
    --blue-hover: #5050ff;  /*  3.93  */
    --violet: #c080ff;       /*  7.77 */
    --magenta: #ff80ff;      /*  9.78 */
    --rose: #ff80c0;         /*  9.10 */
    --radius: .375rem;
    --border: .0625rem solid var(--gray-border);
    --menu-size: 12rem;
    font-size: 16px; /* Defines 'rem', do not delete */
}

::selection {
    /* color: var(--white); */
    background-color: var(--blue);
}

main:not(.active),
::-webkit-scrollbar {
    display: none;
}

/* ----- General ----- */
body,
menu,
input,
button,
textarea {
    all: unset;
}

body,
body * {
    display: flex;
    box-sizing: border-box;
}

html,
body {
    direction: ltr;
    touch-action: manipulation;
    user-select: none;
    color: var(--fg);
    background-color: var(--bg);
    font: 400 15px system-ui, -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', Helvetica, Arial, sans-serif;
    height: 100%;
}

button {
    align-items: center;
}

svg {
    aspect-ratio: 1/1;
}

/* ----- Nav ----- */
nav {
    position: fixed;
    flex-direction: column;
    background-color: var(--bg);
    color: var(--gray);
    width: 100%;
    height: 3.75rem;
    z-index: 2;
}

nav > * {
    align-items: center;
    border-bottom: var(--border);
    height: 1.875rem;
}

nav button {
    white-space: pre;
    min-width: fit-content;
    height: 100%;
    padding: 0 .4375rem;
}

nav button:hover,
menu button:hover {
    color: var(--fg);
    background-color: var(--gray-input);
}

/* --- Navigation --- */
#nav {
    width: 100%;
    padding: .125rem;
}

#nav button {
    border-radius: var(--radius);
}

/* -- Logo -- */
#logo {
    pointer-events: none;
    padding: .25rem;
    margin-right: .125rem;
}

#logo svg {
    width: 1.125rem;
}

/* -- Dropdown buttons -- */
#nav > div:nth-child(2) {
    overflow: auto hidden;
    width: calc(100% - 5.375rem);
}

/* -- Maximize/Minimize/Exit -- */
#appbtn {
    flex-grow: 1;
    justify-content: flex-end;
    margin-right: .4375rem;
}

#appbtn button {
    border-radius: 50%;
    width: .75rem;
    height: .75rem;
    padding: 0;
    margin-left: .25rem;
}

#appbtn :first-child {background-color: var(--green)}
#appbtn :nth-child(2) {background-color: var(--yellow)}
#appbtn :last-child {background-color: var(--red)}

/* --- Tabs (open files) --- */
#tabs {
    overflow: auto hidden;
    pointer-events: none;
    width: calc(100% - var(--menu-size));
    margin-left: var(--menu-size);
}

#tabs button {
    pointer-events: all;
    border-right: var(--border);
}

/* Open file */
#tabs .active {
    color: var(--fg);
    border-top: .0625rem solid var(--blue);
    padding-bottom: .0625rem;
}

/* File name */
#tabs div,
menu button div {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    pointer-events: none;
    max-width: 12rem;
}

/* File icon */
nav span,
menu span {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(f/file.svg);
    width: 1rem;
    height: 1rem;
    margin-right: .25rem;
}

/* Show 'unsaved' icon */
.unsaved::after {
    content: '*';
}

/* -- Show 'close' icon -- */
#tabs button:hover span {
    background-size: .75rem;
    background-image: url(f/.close.svg);
    background-color: var(--gray-input);
}

#tabs button:hover span:hover {
    background-image: url(f/.close-hover.svg);
}

/* -- File icons -- */
/* - Primary file extensions - */
.css {background-image: url(f/css.svg)}
.html {background-image: url(f/html.svg)}
.json {background-image: url(f/json.svg)}
.yaml {background-image: url(f/yaml.svg)}
.php {background-image: url(f/php.svg)}
.md {background-image: url(f/md.svg)}
.ts {background-image: url(f/ts.svg)}
.svg {background-image: url(f/svg.svg)}
.java {background-image: url(f/java.svg)}

/* - Other file extensions - */
.htm {background-image: url(f/html.svg)}
.yml {background-image: url(f/yaml.svg)}
.phar {background-image: url(f/php.svg)}
.phtml {background-image: url(f/php.svg)}
.pht {background-image: url(f/php.svg)}
.phps {background-image: url(f/php.svg)}
.markdown {background-image: url(f/md.svg)}
.tsx {background-image: url(f/ts.svg)}
.class {background-image: url(f/java.svg)}
.jar {background-image: url(f/java.svg)}
.jmod {background-image: url(f/java.svg)}

/* -- Directory icons -- */
.directory {background-image: url(d/directory.svg)}
.directory.exp {background-image: url(d/directory-exp.svg)}

/* ----- Menu ----- */
menu {
    flex-direction: column;
    position: fixed;
    overflow: hidden auto;
    background-color: var(--bg);
    border-right: var(--border);
    width: var(--menu-size);
    height: calc(100% - 1.875rem);
    top: 1.875rem;
    z-index: 2;
}

menu button {
    white-space: pre;
    width: 100%;
    min-height: 1.875rem;
    padding: 0 .4375rem;
}

/* menu .active {
    background-color: var(--gray-input);
} */

menu button > * {
    pointer-events: none;
}

.directory-cont {
    flex-direction: column;
}

.directory-cont > :not(:first-child) {
    padding-left: .875rem;
}

.directory-cont:not(.expanded) > :not(:first-child) {
    display: none;
}

/* ----- Main ----- */
main {
    position: relative;
    font-family: monospace;
    width: calc(100% - var(--menu-size));
    /* height: fit-content; */
    height: 100%;
    margin-left: var(--menu-size);
    /* padding-bottom: calc(100vh - 3.875rem); */
}

/* --- Welcome page --- */
#welcome {
    justify-content: center;
    align-items: center;
    background-color: var(--bg);
    height: calc(100% - 1.875rem);
    margin-top: 1.875rem;
    z-index: 2;
}

#welcome svg {
    max-width: calc(100% - 1rem);
    max-height: calc(100% - 1rem);
    width: 8rem;
}

/* --- Textarea --- */
code,
textarea {
    white-space: pre;
    width: 100%;
    height: 100%;
    /* padding: 4rem 4rem calc(100vh - 5.125rem) 4rem; */
    padding: 4rem 4rem calc(100vh - 5.125rem) .5rem;
}

textarea {
    /* position: absolute; */
    /* caret-color: var(--fg); */
    /* color: var(--bg); */ /* Hide text because text is already displayed in <code> */ /* TODO: better implementation for SEO */
    color: var(--fg);
}

/* --- Code --- */
/* code {
    flex-wrap: wrap;
    align-content: flex-start;
    pointer-events: none;
    counter-reset: ln 0;
    z-index: 1;
} */

/* -- Newline -- */
/* .ln {
    position: relative;
    visibility: hidden;
    counter-increment: ln;
    width: 100%;
    height: 0;
}

.ln::before {
    position: absolute;
    text-align: end;
    visibility: visible;
    content: counter(ln);
    color: var(--gray);
    width: 3rem;
    left: -3.75rem;
}

.ln + .ln,
.ln:last-child {
    height: 1.125rem;
}

.ln + .ln::before {
    top: 1.125rem;
} */










